.wp-block-onepd-mapbox-location-card {
    display: flex;
    gap: var(--wp--custom--spacing--block-gap, 30px);
    background-color: var(--wp--preset--color--white, #fff);
    color: var(--wp--preset--color--black, #333);
    border-radius: var(--wp--custom--border--radius, 4px);
    border: var(--wp--custom--border--width, 1px) var(--wp--custom--border--style, solid) var(--wp--custom--border--color, #e0e0e0);
    margin: var(--wp--custom--spacing--margin, 0);
    align-items: stretch;

    &__content {
        display: flex;
        align-items: center;
        justify-content: stretch;
    }
    &__map {
        position: relative;
        overflow: hidden;
        height: 100%;
        aspect-ratio: 3/1;
        background: var(--wp--preset--color--gray-100, #f5f5f5);
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__address {
        margin-top: auto;
        color: #666;
        font-size: var(--wp--preset--font-size--small, 14px);
    }
        &.is-style-stacked {
        flex-direction: column;

        .wp-block-onepd-mapbox-location-card__map,
        .wp-block-onepd-mapbox-location-card__body {
            width: 100%;
        }
    }

    &:not(.is-style-stacked) {
        .wp-block-onepd-mapbox-location-card__map {
            flex: 0 0 40%;
            min-width: 300px;
            aspect-ratio: 1;
        }
        .wp-block-onepd-mapbox-location-card__body {
            flex: 1 auto;
        }
    }
}